
@import url(node_modules/cesium/Build/Cesium/Widgets/widgets.css);

/*
 * Disable highlighting/selecting across the application
 * Solution taken from https://github.com/electron/electron/issues/2538
 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * We must add some other style for :focus to help UX/a11y
 */
input, button, textarea, :focus {
    outline: none;
}

/*
 * -webkit-scrollbar customization taken from
 * https://css-tricks.com/examples/WebKitScrollbars/
 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(191, 204, 214, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(191, 204, 214, 0.4);
}

.hgl-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.hgl-header, .hgl-footer {
    flex: none; /* same as "flex: 0 0 auto;" */
}

.hgl-midsection {
    flex: auto; /* same as "flex: 1 1 auto;" */
    display: flex;
    flex-flow: row nowrap;
}

.hgl-left, .hgl-right {
    flex: none;
    max-height: 100%;
}

.hgl-center {
    flex: auto;
    max-height: 100%;
}

.hgl-hor-splitter {
    flex: none;
    border: none;
    outline: none;
    width: 4px;
    min-height: 100%;
    max-height: 100%;
    /*background-color: yellow;*/
    cursor: col-resize;
}

.cate-panel {
    padding: 1px;
}


.cate-panel.opened {
    display: block;
}

.cate-panel.closed {
    display: none;
}

.cate-panel-header {
    display: flex;
    margin: 1px;
    padding: 3px;

    /* blueprint @light-grey5 */
    color: #F5F8FA;
    /* blueprint @dark-grey3 */
    background-color: #293742;
    align-items: center;
}

/* TODO: Apply to elements within a div with class .cate-panel-header */
.cate-panel-selected {
    /* blueprint's color @blue4 */
    color: #2B95D6;
}

/* TODO: Apply to elements within a div with class .cate-panel-header */
.cate-panel-icon {
    flex: 1 1 auto;
}

/* TODO: Apply to elements within a div with class .cate-panel-header */
.cate-panel-text {
    flex: 1 0 auto;
    text-align: left;
    margin-left: 2px;
}

/* TODO: Apply to right buttons (spans) within a div with class .cate-panel-header */
span.cate-icon-small {
    font-size: 12px;
    font-weight: lighter;
    padding-left: 2px;
    transition: color 0.5s linear;
    /* blueprint's @blue4 used for selection in pt-dark */
    color: rgba(43, 149, 214, 0.1);
}

/* TODO: Apply to right buttons (spans) within a div with class .cate-panel-header */
span.cate-icon-small:hover {
    /* blueprint's @blue4 used for selection in pt-dark */
    color: rgba(43, 149, 214, 1.0);
}

/*
 * we apply this to elements we put into blueprint "Tab" components
 */
.cate-tab-header {
    display: flex;
    align-items: center;
}

/*
 * Override blueprint pa-tabs class for "Tabs" component, so that it has a defined size
 */
.pt-tabs {
    width: 100%;
    height: 100%;
}

/*
 * Fix blueprint's way too large TabPanel margin-top: 20px
 */
.pt-tab-panel {
    margin-top: 5px;
}

/*
 * Fix blueprint's "TabPanel" style so that it has a defined size
 */
.pt-tab-panel {
    width: 100%;
    /*
     * calc(100% of parent 'pt-tabs'
            minus height of 'pt-tab-list'
            which is 30px line-height of font in 'pt-tab-list'
               plus 5px margin-top of 'pt-tab-panel')
     */
    height: calc(100% - 35px);
}

/*
 * Fix blueprint's too large "Tab" margin-right of 20px
 */
.pt-tab {
    margin-right: 5px;
}

/**
 * Fix blueprint's h<N> line-height of 0.8em
 */
h1, h2, h3, h4, h5 {
    line-height: 1.5em;
}

/* <<<< Cesium ============================================================ */

/*
 * Assign 100% parent size to Cesium's main component with id="cesiumDiv"
 */
.cesium-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*
 * Override cesium-widget from Cesium
 */
.cesium-widget {
    position: relative;
}

/*
 * Override cesium-widget from Cesium
 */
.cesium-widget, .cesium-widget canvas {
    width: 100%;
    height: 100%;
}

/* City List Example */

.cesium-city-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    margin: 0;

    background-color: white;
    opacity: 0.9;

    list-style-type: none;
}

/* >>>> Cesium ============================================================ */
