/*
 * Disable highlighting/selecting across the application
 * Solution taken from https://github.com/electron/electron/issues/2538
 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    /* We must add some other style for :focus to help UX/a11y */
    outline: none;
}


.hgl-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.hgl-header, .hgl-footer {
    flex: none; /* same as "flex: 0 0 auto;" */
}

.hgl-midsection {
    flex: auto; /* same as "flex: 1 1 auto;" */
    display: flex;
    flex-flow: row nowrap;
}

.hgl-left, .hgl-right {
    flex: none;
    /*overflow-y: auto;*/
}

.hgl-center {
    flex: auto;
    /*overflow-y: auto;*/
    /* Chrome suggested workaround */
    zzheight: 100%;
    zzdisplay: flex;
    zzflex-flow: column;
}


.hgl-hor-splitter {
    flex: none;
    border: none;
    outline: none;
    width: 4px;
    min-height: 100%;
    max-height: 100%;
    /*background-color: yellow;*/
    cursor: col-resize;
}

.cate-panel {
    display: flex;
}

.cate-panel-title {
    display: flex;
    margin: 0;
    padding: 2px;

    /* blueprint @light-grey5 */
    color: #F5F8FA;
    /* blueprint @dark-grey3 */
    background-color: #293742;
    align-items: center;
    justify-content: center;
}
